<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Wallet</title>
</head>
<body>
    {% if first_time %}
    <div id="create">
        <h2>CREATE YOUR WALLET</h2>
        <p>Enter a password for your new wallet. This password will be used for encrypting your private key and will be necessary to create transactions.</p><br>
        <input type="password" id="create-password" placeholder="password">
        <input type="password" id="create-password-confirm" placeholder="confirm password">
        <img class="arrow-btn disabled" id="create-submit" src="{{ url_for('static', filename='/svg/outline/arrow-right.svg') }}"></object>
    </div>
    {% endif %}


    <main>
        <div>
            My address:
            <h2 id="my_address" class="mono"></h2>
            <span id="balance" class="mono"></span>
        </div>

        <div id="transactions">
            
        </div>
    </main>
</body>
<script src="{{ url_for('static', filename='socket.io.js') }}"></script>
<script>
    const socket = io();
    
    const createForm = document.getElementById('create');
    const createPassword = document.getElementById('create-password');
    const createPasswordConfirm = document.getElementById('create-password-confirm');
    const createSubmit = document.getElementById('create-submit');

    const loginPassword = document.getElementById('create-password');
    const loginSubmit = document.getElementById('create-submit');

    const my_address = document.getElementById('my_address');
    const my_balance = document.getElementById('balance');
    const my_transactions = document.getElementById('transactions');

    function checkCreateForm() {
        if (createPassword.value != createPasswordConfirm.value){
            createPasswordConfirm.classList.add('err');
            createSubmit.classList.add('disabled');
        } else {
            createPasswordConfirm.classList.remove('err');
            createSubmit.classList.remove('disabled');
        }
    }
    if (createForm != null) {
        createPasswordConfirm.addEventListener('input', checkCreateForm);
        createPassword.addEventListener('input', checkCreateForm);
        createSubmit.addEventListener('click', function(){
            if (createPassword.value == createPasswordConfirm.value){
                socket.emit('create_new', {password:createPassword.value});
                createForm.style.display = "none";
                return;
            }
        });
    }

    let address = "";
    let balance = 0;
    let transactions = [];

    function update_balance(){ my_balance.textContent = balance; }
    function update_address(){ my_address.textContent = address; }
    function update_transactions(){
        my_transactions.innerHTML = '';
        for (t of transactions ) {
            t_div = document.createElement('div');
            t_div.textContent = JSON.stringify(t);
            my_transactions.appendChild(t_div);
        }
    }

    socket.on('ui_update', function(data){
        console.log('Got my balance: ' + data.balance);
        balance = data.balance.toString();
        balance = balance.slice(0, balance.length-6) + '.' + balance.slice(balance.length-6, balance.length);
        update_balance();

        console.log('Got my address: ' + data.address);
        address = data.address;
        update_address();

        console.log('Got transactions: ' + JSON.stringify(data.transactions));
        transactions = data.transactions;
        update_transactions();
    });

    socket.emit('request_update');
    console.log('Requested update.');
</script>
</html>